.gallery__item {
    list-style: none;
    margin: 5px;
  }
  
  .gallery__link {
    display: block;
  }
  
  .gallery__image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 1000;
  }
  
  .lightbox.is-open {
    display: flex; 
  }
  
  .lightbox__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .lightbox__content {
    position: relative;
  }
  
  .lightbox__image {
    max-width: 90vw; 
    max-height: 90vh; 
  }
  
  .lightbox__button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .lightbox__button:hover {
    color: red;
  }
  